
.ui-btn-inner {
	border-top: 0px solid #b379cb;
	border-color: #b379cb;
	margin: 0px;
}
		
.my-header-btn {
	margin: 0px;
	border: 0px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b379cb/*{a-bup-background-start}*/), to(#ca88e6/*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#b379cb /*{a-bup-background-start}*/, #ca88e6/*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:	 -moz-linear-gradient(#b379cb /*{a-bup-background-start}*/, #ca88e6/*{a-bup-background-end}*/); /* FF3.6 */
	background-image:	  -ms-linear-gradient(#b379cb /*{a-bup-background-start}*/, #ca88e6/*{a-bup-background-end}*/); /* IE10 */
	background-image:	   -o-linear-gradient(#b379cb /*{a-bup-background-start}*/, #ca88e6/*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:		  linear-gradient(#b379cb /*{a-bup-background-start}*/, #ca88e6/*{a-bup-background-end}*/);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#b379cb', endColorstr='#ca88e6', GradientType=0)";
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b379cb', endColorstr='#ca88e6', GradientType=0);
	
	border-radius: 0 0 0 0;
        
}
		
.ui-icon-myapp-bars  {
	margin: 0px;
	padding: 0px 20px 0px 0px;
	background-color: transparent /*{global-icon-disc}*/;
	background-repeat: no-repeat;
	border-radius: 0 0 0 0;
	background-image: url( "../img/icon-menu_22x18.png" )!important;
  
}

.my-ui-bar-d {
	border: 1px solid #DFDADA /*{d-bar-border}*/;
	background: #FAF4F4 /*{d-bar-background-color}*/;
	color: #333 /*{d-bar-color}*/;
	text-shadow: 0 /*{d-bar-shadow-x}*/ 1px /*{d-bar-shadow-y}*/ 0 /*{d-bar-shadow-radius}*/ #eee /*{d-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFFFFF /*{d-bar-background-start}*/), to( #FFFFFF /*{d-bar-background-end}*/));
	background-image: -webkit-linear-gradient( #FFFFFF /*{d-bar-background-start}*/, #FFFFFF /*{d-bar-background-end}*/);
	background-image: -moz-linear-gradient( #FFFFFF /*{d-bar-background-start}*/, #FFFFFF /*{d-bar-background-end}*/);
	background-image: -ms-linear-gradient( #FFFFFF /*{d-bar-background-start}*/, #FFFFFF /*{d-bar-background-end}*/);
	background-image: -o-linear-gradient( #FFFFFF /*{d-bar-background-start}*/, #FFFFFF /*{d-bar-background-end}*/);
	background-image: linear-gradient( #FFFFFF /*{d-bar-background-start}*/, #FFFFFF /*{d-bar-background-end}*/);
}


.channel-logo{
	width: auto;
	/*min-height: 58px;*/
	top: 0px;
	text-align:center;
}
		




